$red:#ff3e42;
$green:#198855;
$blue:#53ceed;
$footer-color:#10083d;
$big-title:60px;
$title:48px;
$card-title:30px;
$subtitle:18px;
$text:16px;
$iconbox-title:20px;
$globe-icon:36px;
$truck-icon:46px;
$info-icon:40px;
$services-card-title:24px;
$small-font-size:12px;


